.navbar {
	margin-bottom: 2em;
}

.navbar-welcome {
	margin: auto;
	padding-right: 1em;
	font-size: 18px;
}

.form-title {
	text-align: center;
}

.card {
	padding: 1em;
}

.jumbotron {
	padding: 1em;
	text-align: center;
}
.box {
	display: flex;
	flex-wrap: wrap;
}

#trademark {
	padding: 2em;
}
